
<!--<p>
<button (click) = "onclickthis()">clickme</button>
<br>
</p>
-->
<div>&nbsp;</div>


<div align="center">
  <input type="number" [(ngModel)]= "a">&nbsp;&nbsp;&nbsp;
  <input type="number" [(ngModel)]= "b" >&nbsp;&nbsp;&nbsp;
  <h1>&nbsp;</h1>
  <button (click) = "onaddclick()">addition</button>&nbsp;&nbsp;
  <h1>Addition is {{add}}</h1>
  <button (click) = "onsubclick()">subtraction</button>&nbsp;&nbsp;
  <h1> Subtraction is {{sub}}</h1>
  <button (click) = "onmulticlick()">multiplication</button>&nbsp;&nbsp;
  <h1>Multiplication is {{mul}}</h1>
  <button (click) = "ondivideclick()">divide</button>&nbsp;&nbsp;
  <!--<button (click) = "onmodulusclick()">modulus</button>&nbsp;&nbsp;-->
  <h1>Division  is {{div}}</h1>
</div>
 <!-- <input type="date" >
  <br>
  <input type="checkbox" value="male" name="Male">
  <br>
  <input type="text" [(ngModel)]= "str">
  <ul>
    <li *ngFor="let item of arrname">{{item}}</li>
  </ul>
>
-->
