	<div class="container">
		<div class="row">
			<div class="col-nd-12">
				<form name="tandc" ng-submit="approveTandC()">
					<div class="panel panel-default" >

						<h1 style="text-align: center; color: #00ff80">Terms and
							Conditions</h1>
						<br>
						<div style="text-align: justify;">

							<p align="justify">We receive information from you when you
								register on our website MyStore. subscribe to
								our product updates, or fill out a form sharing your personal
								data. When ordering or registering on our site, you may be
								requested to share your name, e-mail address or phone number. We
								appreciate that you care about how your information is used and
								secured at our end. We value the trust you place in us, and are
								committed to handling your data with the required level of
								confidentiality. We employ the highest standards for secure
								transactions and customer information privacy. Please read the
								following policy statement to learn more.</p>
							<h3 style="color:#00ff80">Scope of the Policy:</h3>
							<p align="justify">This Policy describes how we collect and
								use information that customers provide to us in connection with
								the creation, registration or administration of their respective
								accounts on the web site, which we refer to as &ldquo;Account
								Information&rdquo;. For example, Account Information includes
								names, usernames, phone numbers, email addresses and billing
								information associated with a customer&rsquo;s AEL account.</p>
							<h3 style="color:#00ff80">Applicability of this Policy and Confidentiality:</h3>
							<p align="justify">This Policy applies to customers Account
								Information only. We do not sell, trade, or otherwise transfer
								to outside parties your personally identifiable information.
								This does not include trusted third parties who assist us in
								operating our website, conducting our business, or servicing
								you, so long as those parties agree to keep this information
								confidential.</p>
							<p>&nbsp;</p>
							<p align="justify">We may release your information to comply
								with applicable law or to abide by any order from appropriate
								authority, enforce our site policies, or protect our interest if
								necessary. However, non-personal identifiable information may be
								provided, to other parties for marketing, advertising, or other
								uses as permitted by law.</p>
							<h3 style="color:#00ff80">How AEL uses Account Information:</h3>
							<p align="justify">Any of the information we collect from you
								may be used in one of the following ways:</p>
							<ul type="disc">
								<li>To offer personalized and enhanced shopping experience
									on our website.</li>
								<li>To administer various promotions, surveys, or other
									site features.</li>
								<li>To send periodic updates and emails.</li>
								<li>To send you information and to respond to enquiries and
									other requests you may have.</li>
							</ul>
							<h3 style="color:#00ff80">Cookies:</h3>
							<p align="justify">A "cookie" is a small piece of information
								stored by a web server on a web browser so it can be later read
								back from that browser. Cookies are useful for enabling the
								browser to remember information specific to a given user. We
								place both permanent and temporary cookies in your computer's
								hard drive. The cookies do not contain any of your personally
								identifiable information. We use cookies to help us remember and
								process the items in your shopping cart, understand and save
								your preferences for future visits, keep track of advertisements
								and compile aggregate data about site traffic and site
								interaction so that we can offer better site experiences and
								tools in the future.</p>




						<h3 style="color:#00ff80">Third party links</h3>
						<p align="justify">While shopping online you could sometimes
							access third party products or services. These links and offers
							on third party sites have separate and independent privacy
							policies. AEL has no responsibility or liability for the content
							and activities of these linked sites if any. Nonetheless, we seek
							to protect the integrity of our site and welcome any feedback
							about these sites.</p>

						<h3 style="color:#00ff80">Minors Accessing the Website</h3>
						<p align="justify">AEL shall not be held liable for any
							transactions done on the website by a minor representing that
							he/she is a major. Contracts entered by minors are void ab initio
							as per Indian law.</p>


						<h3 style="color:#00ff80">Amendment to the Policy</h3>
						<p align="justify">AEL reserves the right to change the Policy
							to its business requirements. We will post those changes on this
							site as and when modified. Do frequent this website to access the
							updated AEL Privacy Policy as modified from time to time.</p>

						<h3 style="color:#00ff80">Consent</h3>
						<p align="justify">By accessing our website, you consent to
							the terms and conditions of the policy.</p>
					</div>
					</div>
					<div style="text-align: center;"
						ng-if="settings.Authentication.RequireTermsAndConditions && !UserInfo.approvedTermsAndConditions && UserInfo.isAuthenticated">
						<button style="margin: 20px; background:#00ff80">
							<a routerLink="/login">continue shopping</a></button>
						</div>
				</form>
			</div>
		</div>
	</div>



