
<div class="container">
 <!--start here-->
  <form [formGroup]="signupForm" (ngSubmit)="onRegister()" >
    <h3 align="center">Current Address Details </h3><br>

    <div class="form-row">
      <div class="form-group col-md-12 ">
        <label for="inputAddress2">Current Address<span class="lblError">*</span></label>
        <input type="text" class="form-control" formControlName="address" placeholder="Apartment, studio, or floor">
        <p class="lblError" *ngIf="signupForm.get('address').hasError('required') && !signupForm.get('address').pristine">Address is Required!...</p>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity" >City<span class="lblError">*</span></label>
        <input type="text" formControlName="city" class="form-control" placeholder="City">
        <p class="lblError" *ngIf="signupForm.get('city').hasError('required') && !signupForm.get('city').pristine">City is Required!...</p>
      </div>

      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select  formControlName="state" class="form-control" >
          <option value="" disabled>Choose...</option>
          <option value="maharashtra" >Maharashtra</option>
          <option value="andhra pradesh">Andhra Pradesh</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputCountry">Country</label>
        <select formControlName="country" class="form-control">
          <option value="" disabled>Choose...</option>
          <option value="india">India</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>

      </div>


      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputDistrict">District</label>
          <select formControlName="district" class="form-control">
            <option value="" disabled>Choose...</option>
            <option value="aurangabad">Aurangabad</option>
            <option value="pune">Pune</option>
            <option value="new_muumbai">New Mumbai</option>
            <option value="amravati">Amaravati</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputZip">Zip</label>
          <input type="text" formControlName="zip" class="form-control" placeholder="Enter zip code">
          <p class="lblError" *ngIf="signupForm.get('zip').hasError('pattern') && !signupForm.get('zip').pristine">Invalid zip code!...</p>
        </div>
        <div class="form-group col-md-4">
          <label for="inputMobile"> Phone No 1</label>
          <input type="text" formControlName="phone1" class="form-control" placeholder="Phone Number 1">
          <p class="lblError" *ngIf="signupForm.get('phone1').hasError('pattern') && !signupForm.get('phone1').pristine">Invalid Mobile Number!...</p>
        </div>
      </div>

      <div class="form-row">

      <div class="form-group col-md-4">
        <label for="inputMobile"> Phone No 2</label>
        <input type="text" formControlName="phone2" class="form-control" placeholder="Phone Number 2">
        <p class="lblError" *ngIf="signupForm.get('phone2').hasError('pattern') && !signupForm.get('phone2').pristine">Invalid Mobile Number!...</p>
      </div>

      <div class="form-group col-md-4">
        <label for="inputMobile">Fax/Mobile No</label>
        <input type="text" formControlName="mobile_fax" class="form-control" placeholder="Fax Or Mobile Number">

      </div>

      <div class="form-group col-md-4">
        <label for="inputEmail4">Personal Email</label>
        <input type="email" formControlName="personal_email" class="form-control" placeholder=" Personal Email">
        <p class="lblError" *ngIf="signupForm.get('personal_email').hasError('email') && !signupForm.get('personal_email').pristine">Invalid Email!...</p>
      </div>
      <div class="form-group col-md-4">
        <input type="checkbox" formControlName="same_address"  (click)="onclick()">&nbsp;<label>Same as Present Address<span class="lblError">*</span></label>
      </div>

    </div>

    <p><span class="lblError">* Indicates the Field are Mandatory</span></p>
    <p><span class="lblError">* Checkbox is Required</span></p>
    <div class="form-group col-md-12">

    </div>


 <!--end here-->




<div *ngIf="flag">
 <!--start here-->

  <h3 align="center">Permanent Address Details </h3><br>

  <div class="form-row">
    <div class="form-group col-md-12 ">
      <label for="inputAddress2">Permanent Address<span class="lblError">*</span></label>
      <input type="text" class="form-control" formControlName="address" value={{address}} [readonly]="isReadonly" placeholder="Apartment, studio, or floor">
      <p class="lblError" *ngIf="signupForm.get('address').hasError('required') && !signupForm.get('address').pristine">Address is Required!...</p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity" >City<span class="lblError">*</span></label>
      <input type="text" formControlName="city" value={{city}} [readonly]="isReadonly" class="form-control" placeholder="City">
      <p class="lblError" *ngIf="signupForm.get('city').hasError('required') && !signupForm.get('city').pristine">City is Required!...</p>
    </div>

    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select  formControlName="state" value={{state}} class="form-control" >
        <option value="" disabled>Choose...</option>
        <option value="maharashtra" >Maharashtra</option>
        <option value="andhra pradesh">Andhra Pradesh</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputCountry">Country</label>
      <select formControlName="country" value={{country}} class="form-control">
        <option value="" disabled>Choose...</option>
        <option value="india">India</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    </div>

    </div>


    <div class="form-row">


      <div class="form-group col-md-4">
        <label for="inputDistrict">District</label>
        <select formControlName="district" value={{district}} class="form-control">
          <option value="" disabled>Choose...</option>
          <option value="aurangabad">Aurangabad</option>
          <option value="pune">Pune</option>
          <option value="new_muumbai">New Mumbai</option>
          <option value="amravati">Amaravati</option>
        </select>
      </div>


      <div class="form-group col-md-4">
        <label for="inputZip">Zip</label>
        <input type="text" value={{zip}} formControlName="zip" [readonly]="isReadonly" class="form-control" placeholder="Enter zip code">
        <p class="lblError" *ngIf="signupForm.get('zip').hasError('pattern') && !signupForm.get('zip').pristine">Invalid zip code!...</p>
      </div>
      <div class="form-group col-md-4">
        <label for="inputMobile"> Phone No 1</label>
        <input type="text" value={{phone1}} formControlName="phone1"[readonly]="isReadonly" class="form-control" placeholder="Phone Number 1">
        <p class="lblError" *ngIf="signupForm.get('phone1').hasError('pattern') && !signupForm.get('phone1').pristine">Invalid Mobile Number!...</p>
      </div>
    </div>

    <div class="form-row">

    <div class="form-group col-md-4">
      <label for="inputMobile"> Phone No 2</label>
      <input type="text"  value={{2}} formControlName="phone2"[readonly]="isReadonly"class="form-control" placeholder="Phone Number 2">
      <p class="lblError" *ngIf="signupForm.get('phone2').hasError('pattern') && !signupForm.get('phone2').pristine">Invalid Mobile Number!...</p>
    </div>

    <div class="form-group col-md-4">
      <label for="inputMobile">Fax/Mobile No</label>
      <input type="text" value={{mobile_fax}} formControlName="mobile_fax" [readonly]="isReadonly" class="form-control" placeholder="Fax Or Mobile Number">
    </div>

    <div class="form-group col-md-4">
      <label for="inputEmail4">Personal Email</label>
        <input type="email" formControlName="personal_email" value={{personal_email}} [readonly]="isReadonly" class="form-control" placeholder=" Personal Email">
        <p class="lblError" *ngIf="signupForm.get('personal_email').hasError('email') && !signupForm.get('personal_email').pristine">Invalid Email!...</p>
    </div>

  </div>

  <p><span class="lblError">* Indicates the Field are Mandatory</span></p>
  <div class="form-group col-md-12">
    <button class="btn btn-primary" routerLink="/formtask" >Previous</button>&nbsp;&nbsp;
    <button type="submit"  class="btn btn-primary" [disabled]="signupForm.invalid" >Save</button>&nbsp;&nbsp;
    <button class="btn btn-primary"  [disabled]="OnNextClick()" routerLink="/personaldetail" >next</button>

    <!--[disabled]="signupForm.invalid"-->
  </div>
</div>
</form>
 <!--end here-->





</div>
